@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: calc(1vw + 1vh + .25vmin);
}

body {
  font-family: 'Cormorant', serif;
  background: #f9f5f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  width: 100%;
  max-width: 1402px;
  margin: 30px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div a {
  margin: auto;
  text-align: center;
  color: #181f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}

nav div:nth-child(1) a {
  margin-left: 20px;
}

nav div:nth-child(3) a {
  margin-right: 20px;
}

.main-container {
  width: 100%;
  max-width: 1402px;
  margin: 0 auto 100px auto;
  height: 1200px;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

@media only screen and (max-width: 1401px) {
  .main-container {
    height: 1000px;
    width: 97%;
  }
}

@media only screen and (max-width: 601px) {
  .main-container {
    height: auto;
    width: 100vw;
  }
}

.main-container .col-1, .main-container .col-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  width: 500px;
}

.main-container .col-1 .block, .main-container .col-3 .block {
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 1201px) {
  .main-container .col-1, .main-container .col-3 {
    width: 400px;
  }
}

@media only screen and (max-width: 1001px) {
  .main-container .col-1, .main-container .col-3 {
    width: 300px;
  }
}

@media only screen and (max-width: 601px) {
  .main-container .col-1, .main-container .col-3 {
    width: auto;
  }
}

.main-container .col-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.main-container .col-1 .block:nth-child(1) img {
  width: 200px;
  padding-top: 20px;
}

.main-container .col-1 .block:nth-child(2) img {
  width: 240px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 1500px) {
  .main-container .col-1 .block:nth-child(2) img {
    width: 200px;
  }
}

.main-container .col-1 .block:nth-child(3) img {
  width: 200px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 601px) {
  .main-container .col-1 .block:nth-child(1) img {
    padding-top: 10vh;
    width: 160px;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    position: relative;
    left: -20px;
  }
  .main-container .col-1 .block:nth-child(2) img {
    width: 140px;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-top: 10vh;
  }
  .main-container .col-1 .block:nth-child(3) img {
    width: 280px;
    position: relative;
    left: -40px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-top: 10vh;
  }
}

.main-container .col-2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
}

.main-container .col-2 div {
  margin: auto;
  color: #181f1f;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}

.main-container .col-2 div h1 {
  font-size: 6rem;
}

@media only screen and (max-width: 601px) {
  .main-container .col-2 div h1 {
    text-align: center;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container .col-2 div h1 span:nth-child(even) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .main-container .col-2 div h1 span:nth-child(odd) {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.main-container .col-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
}

.main-container .col-3 .block:nth-child(1) img {
  width: 320px;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 1500px) {
  .main-container .col-3 .block:nth-child(1) img {
    width: 280px;
  }
}

.main-container .col-3 .block:nth-child(2) img {
  width: 180px;
}

.main-container .col-3 .block:nth-child(3) img {
  width: 200px;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 601px) {
  .main-container .col-3 .block:nth-child(1) img {
    -ms-grid-column-align: end;
        justify-self: end;
    position: relative;
    right: -40px;
  }
  .main-container .col-3 .block:nth-child(2) img {
    width: 160px;
    position: relative;
    right: -30px;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .main-container .col-3 .block:nth-child(3) img {
    width: 130px;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
